<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    @font-face {
    font-family: 'Bernino Sans Condensed';
    src: url('/assets/BerninoSansCondensed.eot');
    src: url('/assets/BerninoSansCondensed.eot?iefix') format('eot'),
         url('/assets/BerninoSansCondensed.woff') format('woff'),
         url('/assets/BerninoSansCondensed.ttf') format('truetype'),
         url('/assets/BerninoSansCondensed.svg#webfont') format('svg');
    }
  </style>

  <title>Performance Branding by Ladder Digital</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
