<h2>This is where you'd choose your brand's audience</h2>
<p>Whom are you trying to reach?</p>

<% @audience_arr.each do |aud| %>
  <%= check_box_tag 'audience', aud %>
  <%= label 'audience', aud, aud %><br>
<% end %>
