<h2>This is where you'd choose your brand's audience</h2>
<p>Whom are you trying to reach?</p>
<% File.open("app/assets/audiences.txt", "r").each_line do |line| %>
  <%= check_box_tag 'audience', line %>
  <%= label 'audience', line, line %><br>
<% end %>
