<h1>Welcome page in which stuffs can be done.</h1>
<%= render partial: "choose_identity" %>
<%= render partial: "choose_msg" %>
<%= render partial: "choose_audience" %>
<!--<input name="commit" type="submit" value="Create Person" />-->
