<h1>Why not?</h1>
<p>So this part would show what the user chose</p>
<p>Three other random things you could have chosen:</p>
<% trip = make_triplet(@audience_arr, @identity_arr, @message_arr) %>
<%= trip.element1 %>
<%= trip.element2 %>
<%= trip.element3 %>
