<p>CREATIVE</p>

<div>
  Current user is <%= current_user.id %><br>
  <% current_user.creatives.each do |creat| %>
    <%= link_to creat.name, creat.attachment_url %><br>
  <% end %>
</div>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#creatModal">Add</button>

  <div><%= render partial: 'creativeA_modal' %></div>


