<p>MESSAGE</p>
<p>Add a Message</p>

<div>
  <% current_user.messages.each do |message| %>
    <%= link_to message.msg, "#msgSelectModal#{message.id}", :class => "btn", "data-toggle" => "modal" %><br>
  <%= render partial: 'msgsA_select_modal', locals: { chose_msg: message} %>
  <% end %>
</div>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#msgModal">Add</button>

  <div><%= render partial: 'messagesA_modal' %></div>


