<h1>Performance</h1>

<p>find me in ladder_ror/app/views/campaigns</p>

<p>the other fancy tabbed page will be here.</p>

<%= yield %>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#audiencesP">Audiences</a></li>
    <li><a data-toggle="tab" href="#messagesP">Messages</a></li>
    <li><a data-toggle="tab" href="#creativeP">Creative</a></li>
  </ul>

  <div class="tab-content">
    <div id="audiencesP" class="tab-pane fade in active">
      <%= render 'audiencesP' %>
    </div>
    <div id="messagesP" class="tab-pane fade">
      <%= render 'messagesP' %>
    </div>
    <div id="creativeP" class="tab-pane fade">
      <%= render 'creativeP' %>
    </div>
  </div>
</div>